# Package Files #
#*.jar
#*.war
#*.ear

*.mf
*.class

.idea/
*.iml

.checkstyle
.classpath
.project
.settings/
.springBeans
**/out/**
**/bin/**
**/testbin/**
**/target/**
**/target-ant/**
**/WEB-INF/classes/**

#.gitignore